<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >


<suite name = "flexSchema">


<listeners>
<listener class-name="com.qa.util.ExtentTestNGIReporterListener"/>
</listeners>
	<test name = "Person">
		
		<classes>
		<!--<class name = "com.qa.testCases.TC_PersonCV_DDT" /> -->
			<class name = "com.qa.testCases.TC_PersonMRV" />
			<class name = "com.qa.testCases.TC_PersonSRV" />
			<class name = "com.qa.testCases.TC_PersonArchive" />
		</classes>
	</test>
</suite> 